@charset "UTF-8";

/*------------------------------------------------------------------------------------------------*/
/* Common */
/*
html										{scroll-behavior:smooth;}
body 									{-ms-overflow-style: none; scrollbar-width: none; }
body::-webkit-scrollbar 					{display: none;}
*/


section 									{width:100%; position:relative; height:100%; overflow: hidden;}
section .section							{position:relative;width:100%;height:100%;overflow:hidden;}

section .section .txt a 					{position:relative;width:80%;height:50px;display:block;letter-spacing:1px;background:#58939d;overflow:hidden;}
section .section .txt a div.back 			{position:absolute;top:0;left:0;width:100%;height:100%;background:#007488;transition: 0.5s;}
section .section .txt a div.mask 			{position:relative;padding-top:20px;}
section .section .txt a div.mask div 		{height:15px;overflow:hidden;}
section .section .txt a div.mask div span	{text-align:center;display:block;color:#fff;font-size:14px;}
section .section .txt a div.mask div span	{font-family:athelas,serif;}
section .section .txt a div.mask div span	{transition:transform 0.5s cubic-bezier(.65,0,.35,1)}
		
section .section .txt a:hover div.back 		{top:100%;}
section .section .txt a:hover div.mask span	{transform: translateY(-100%)}
.visual {width:100%; height:100vh; position:relative; z-index:1;}


.sub #banner 							    {height:800px;min-height:562px;overflow:hidden;}	
.sub #banner:before 						{position:absolute;top:0;left:0;width:100%;height:100%;opacity:0.2;background:#000;content:"";}
.sub .section:first-child h2 				{position:absolute;bottom:10%;left:3%;z-index:1;}
		
		
		
/* MyFrame */		
.MyFrame 								    {position:absolute;top:0;bottom:0;left:0;right:0;width:100%;height:100%;overflow:hidden;}
.MyFrame #MyVideo		 					{position:absolute;top:50%;left:50%;transform: translate(-50%,-50%);}
.MyFrame #MyVideo		 					{min-width:100%;min-height:100%;width:auto;object-fit:cover;}
		
/* Scroll */		
#scroll 									{position:absolute;bottom:0;left:0;width:calc(50% + 60px);height:50px;z-index:10;}
#scroll .InBox 							    {position:relative;width:100%;height:100%;overflow:hidden;}
#scroll .InBox .line 						{position:absolute;top:20px;left:0;width:calc(100% - 120px);height:1px;background:#fff;opacity:0.8;}
#scroll .InBox a 							{position:absolute;top:0;right:0;}
		
/* Slide */
.slide 									    {position:relative;width:100%;height:100%;overflow:hidden;min-width:860px;min-height:483px;}
.slide_show 								{position:relative;width:100%;height:100%;overflow:hidden;}
.slide_show > li 							{position:absolute;top:0;left:0;width:100%;height:100%;overflow:hidden;}
.slide_show > li.active 					{z-index:100!important;}
.slide #nav > a 							{position:absolute;transition: 0.3s ease;z-index:350;}
.slide #nav > a 							{width:67px;height:85px;}
	
/* Slide_01 */	
.slide_01 #nav > a						    {bottom:5px;}
.slide_01 #nav > a.prev					    {left:1px;}
.slide_01 #nav > a.next					    {right:1px;}
.slide_01 #nav > a:hover					{opacity:0.85;}
.slide_01 #nav > ul 						{position:absolute;left:3.5%;bottom:35px;overflow:hidden;z-index:350;}
.slide_01 #nav > ul li 					    {float:left;width:21px;}
.slide_01 #nav > ul li a 					{width:17px;height:17px;display:block;margin:0 auto;background:url(../images/off.png) no-repeat 0 0;}
.slide_01 #nav > ul li a.active 			{background:url(../images/on.png) no-repeat 0 0;}

/* slide_02 */
.slide_02 								    {max-width:1300px;min-width:860px;min-height:483px;margin:0 auto;overflow:visible!important;}
.slide_02 .slide_show 					    {position:relative;width:100%;height:100%;overflow:visible!important;}
.slide_02 .slide_show li					{position:absolute;top:0;left:0;width:100%;height:100%;}
.slide_02 .slide_show li div 				{position:absolute;top:0;left:0;width:100%;height:100%;}
.slide_02 .slide_show li div 				{transform: scale(0.9);}
.slide_02 .slide_show li div 				{transition: 0.5s;}
.slide_02 .slide_show li div:before 		{background:#f4f4f4;position:absolute;left:0;top:0;width:100%;height:100%;content:"";opacity:0.7;}
.slide_02 .slide_show li div:before 		{transition:all 0.5s;}
.slide_02 .slide_show li.active div 		{transform: scale(1);}
.slide_02 .slide_show li.active div 		{transition: all 0.5s;}
.slide_02 .slide_show li.active div:before 	{opacity:0;}

.slide_02 #nav > a						    {bottom:10px;}
.slide_02 #nav > a.prev					    {left:1px;}
.slide_02 #nav > a.next					    {right:1px;}
.slide_02 #nav > a:hover					{opacity:0.85;}
.slide_02 #nav > ul 						{position:absolute;left:3.5%;bottom:35px;overflow:hidden;z-index:350;}
.slide_02 #nav > ul li 					    {float:left;width:21px;}
.slide_02 #nav > ul li a 					{width:17px;height:17px;display:block;margin:0 auto;background:url(../images/off.png) no-repeat 0 0;}
.slide_02 #nav > ul li a.active 			{background:url(../images/on.png) no-repeat 0 0;}

.Swipers {max-width:100%!important;overflow:hidden;}	
.Swipers .InBox {height:100vh;min-height:560px;}
.Swipers .swiper-container {height:100%;}
.Swipers .swiper-slide > div {width:100%;height:100%;transition:1s;opacity:0.2;}
.Swipers .swiper-slide > div {background-position:50% 50%;background-repeat:no-repeat;background-size:cover;}
.Swipers .swiper-slide-active > div {transition:1s;opacity:1;}
.Swipers .swiper-slide .visual_bg {position: absolute; top:0; left:0; width:100%; height:100%; opacity:1; z-index:1000;}

.Swipers .swiper-btns {position:absolute; left:1px; bottom:0; width:250px; height:132px;}
.Swipers .swiper-btn {position:absolute; bottom:0; color:#fff; font-size:75px; z-index:10; cursor:pointer;}
.Swipers .swiper-btn {background-size:contain; background-position:center; background-repeat:no-repeat;}
.Swipers .swiper-pagination {bottom:60px; left:50%; width:auto; transform:translateX(-50%);}
.Swipers .swiper-button-prev {background-image:url(../images/prev.png); left:2%; top:50%; transform:translateY(-50%);}
.Swipers .swiper-button-next {background-image:url(../images/next.png); right:2%; top:50%; transform:translateY(-50%)}
.Swipers .swiper-pagination-bullet {width:35px; height:19px; display:inline-block;}
.Swipers .swiper-pagination-bullet {background:url(../images/off.png) no-repeat left top;}
.Swipers .swiper-pagination-bullet {transition: transform 0.3s ease;}
.Swipers .swiper-pagination-bullet-active {background:url(../images/on.png) no-repeat left top;}
	

/*------------------------------------------------------------------------------------------------*/
/* Images */
#index .list .img {background:url(http://gonylab4.speedgabia.com/suiteians/main/location.jpg) no-repeat 50% 50%;background-size:cover;}
.restaurant .r01 a div 					{background:url(http://gonylab4.speedgabia.com/suiteians/main/foods/1.jpg) no-repeat 50% 50%;background-size:cover;}
.restaurant .r02 a div 					{background:url(http://gonylab4.speedgabia.com/suiteians/main/foods/2.jpg) no-repeat 50% 50%;background-size:cover;}
.restaurant .r03 a div 					{background:url(http://gonylab4.speedgabia.com/suiteians/main/foods/3.jpg) no-repeat 50% 50%;background-size:cover;}
.restaurant .r04 a div 					{background:url(http://gonylab4.speedgabia.com/suiteians/main/foods/4.jpg) no-repeat 50% 50%;background-size:cover;}


#video #banner 							{background:url(http://gonylab4.speedgabia.com/suiteians/banner/1.jpg) no-repeat 50% 50%;background-size:cover;}
#location #banner 						{background:url(http://gonylab4.speedgabia.com/suiteians/banner/1.jpg) no-repeat 50% 50%;background-size:cover;}
#media #banner 							{background:url(http://gonylab4.speedgabia.com/suiteians/banner/1.jpg) no-repeat 50% 50%;background-size:cover;}

.room_01 #banner 						{background:url(http://gonylab4.speedgabia.com/suiteians/room/1.jpg) no-repeat 50% 50%;background-size:cover;}
.room_02 #banner 						{background:url(http://gonylab4.speedgabia.com/suiteians/room/2.jpg) no-repeat 50% 50%;background-size:cover;}
.room_03 #banner 						{background:url(http://gonylab4.speedgabia.com/suiteians/room/3.jpg) no-repeat 50% 50%;background-size:cover;}
.room_04 #banner 						{background:url(http://gonylab4.speedgabia.com/suiteians/room/4.jpg) no-repeat 50% 50%;background-size:cover;}
.room_05 #banner 						{background:url(http://gonylab4.speedgabia.com/suiteians/room/5.jpg) no-repeat 50% 50%;background-size:cover;}
.room_06 #banner 						{background:url(http://gonylab4.speedgabia.com/suiteians/room/6.jpg) no-repeat 50% 50%;background-size:cover;}
.room_07 #banner 						{background:url(http://gonylab4.speedgabia.com/suiteians/room/7.jpg) no-repeat 50% 50%;background-size:cover;}

#fpv #banner 							{background:url(http://gonylab4.speedgabia.com/suiteians/facility/1/7.jpg) no-repeat 50% 50%;background-size:cover;}
.facil_02 #banner 						{background:url(http://gonylab4.speedgabia.com/suiteians/facility/2/1.jpg) no-repeat 50% 50%;background-size:cover;}
.facil_03 #banner 						{background:url(http://gonylab4.speedgabia.com/suiteians/facility/3/1.jpg) no-repeat 50% 50%;background-size:cover;}

.facil_01 #slides .img	 				{background:url(http://gonylab4.speedgabia.com/suiteians/pool/7.jpg) no-repeat 50% 50%;background-size:cover;}
#food #slides .img	 					{background:url(http://gonylab4.speedgabia.com/suiteians/food/8.jpg) no-repeat 50% 50%;background-size:cover;}

#offers #banner 						{background:url(http://gonylab4.speedgabia.com/suiteians/banner/3.jpg) no-repeat 50% 50%;background-size:cover;}
#reserve #banner 						{background:url(http://gonylab4.speedgabia.com/suiteians/banner/2.jpg) no-repeat 50% 50%;background-size:cover;}
#community #banner						{background:url(http://gonylab4.speedgabia.com/suiteians/banner/3.jpg) no-repeat 50% 50%;background-size:cover;}
#qna #banner							{background:url(http://gonylab4.speedgabia.com/suiteians/banner/2.jpg) no-repeat 50% 50%;background-size:cover;}


/*------------------------------------------------------------------------------------------------*/
/* Header */
/* header - default */
header                                              {position:fixed;top:0;left:0;width:100%;min-width:1000px;z-index:500;}
hgroup                                              {position:relative;width:100%;height:75px;background:#fff;border-bottom:1px solid #e8e8e8;overflow:visible;}
hgroup #lnb                                         {float:left;width:60%;min-width:580px;height:75px;}
hgroup #lnb .InBox                                  {width:100%;height:75px;overflow:visible;}
hgroup #lnb .InBox h1                               {width:15%;float:left;text-align:center;padding:4px 0 4px 20px;}
hgroup #lnb .InBox ul                               {width:77%; display:flex; overflow:hidden;}
hgroup #lnb .InBox ul li                            {float:left; flex:1;}
hgroup #lnb .InBox ul li:nth-of-type(2)             {width:40%;}
hgroup #lnb .InBox ul li a                          {padding:29px 0;font-size:16px;font-weight:bold;text-align:center;}
hgroup #lnb .InBox ul li.on a                       {color:#9c836a; border-bottom:2px solid #9c836a;}	

hgroup .book                                        {position:absolute; width:140px; height:75px; background-color:#08121e; top:0; right:0;}
hgroup .book a {display:block; font-size:16px; color:#fff; text-align: center; padding:30px 0;}

nav                                                 {position:fixed;top:75px;left:0;width:100%;height:0;min-width:1000px;overflow:hidden;transition:0.5s;z-index:-1;}
nav:before                                          {position:absolute;top:0;left:0;width:100%;height:calc(100% - 2px);content:"";display:block;opacity:0.85;z-index:1;}
nav:before                                          {background:#fff;border-top:1px solid #e8e8e8;border-bottom:1px solid #e8e8e8;}
nav > div                                           {position:absolute;width:90%;height:350px;padding-top:30px;left:5%;overflow:visible;opacity:0;transition:0.5s ease ;z-index:1;}
nav > div .ttls                                     {width:18%;float:left;margin:25px 0;padding-left:9%;}
nav > div .ttls span                                {font-size:14px;color:#223337;display:block;margin-bottom:5%;}
nav > div .ttls strong                              {font-size:35px;display:block;line-height:1.5;font-family: 'NanumBarunGothicLightSubset';}
nav > div .ttls img                                 {display:block;float:left;}
nav > div .ttls > img                               {width:70%;padding-top:20px;}
nav > div .menus                                    {width:64%;float:left;overflow:hidden;margin-top:25px;}
nav > div .menus img                                {width:287px;height:186px;float:left;}
nav > div .menus div > ul                               {float:left;position:relative;top:-5px;}
nav > div .menus div > ul                               {padding-left:5%;}
nav > div .menus div > ul li                            {line-height:1.3;padding-bottom:13px;}
nav > div .menus div > ul li a                          {display:block;overflow:hidden;}
nav > div:not(.gb02) .menus div > ul {display:flex;}
nav > div:not(.gb02) .menus div > ul li {flex:1;} 
nav > div .menus div > ul li a span                     {display:block; line-height:1.5;}
nav > div .menus div > ul li a span.en                  {width:190px;font-size:16px; color:#9c836a;}
nav > div .menus div > ul li a span.ko                  {color:#9b9b9b;font-size:16px; margin-top:15px;}
nav > div .menus div > ul li a:hover span.en            {color:#5f8caf;}
nav > div .menus div > ul li a:hover span.ko            {color:#000;}
nav > div .menus div h3 {display: block; width:fit-content;}
nav > div .menus div h3 strong {display: block; font-size:16px; margin-bottom:20px; font-weight:bold;}
nav > div .menus div h3 span {display: block; font-size:12px; margin-bottom:10px; color:#9c836a;}
nav > .gb02 .menus > ul li a span.en                {width:300px;}

nav > div .menus div {width:90%;}
nav > div:not(.gb02) .menus div {display:flex;}
nav > div .menus div h3 {display: block; float:left;}
nav > div .menus div h3 ul li a:first-of-type {padding-top:0;}

nav > .gb02 .menus {width:100%; display:flex;}
nav > .gb02 .menus .room_menu {width:16.6666%; flex:1;}
nav > .gb02 .menus .room_menu h3 {display: block; width:fit-content; float:none;}
nav > .gb02 .menus .room_menu h3 strong {display: block; font-size:16px; margin-bottom:20px; font-weight:bold;}
nav > .gb02 .menus .room_menu h3 span {display: block; font-size:12px; margin-bottom:10px; color:#9c836a;}
nav > .gb02 .menus .room_menu ul {padding-left:0;}
nav > .gb02 .menus .room_menu ul a span.en {color:#000; font-size:14px;}
		

/* Feader */
footer { text-align: center; position: relative; height:100%; overflow: hidden; color: #fff; background-color:#3e3e3e;}
footer .ft_top {background-color:#565656; height:60px; width:100%; position: relative; z-index: 1;}
footer .ft_top ul {width:100%; max-width:800px; margin:0 auto; display:flex;}
footer .ft_top ul li {flex:1; padding:22px 0;}
footer .ft_top ul li span {color:#fff; font-size:15px; }
footer .ft_top ul li:hover span {font-weight:bold;}

footer .wrap {width:100%; height:100%; overflow: hidden; position: relative; border-bottom:1px solid #fff; z-index:2;}
footer .inner {max-width: 1300px; margin: 0 auto; position: relative; display:flex; z-index: 2; padding:30px 0;}
footer .inner img { margin-bottom: 20px; }
footer .inner .ft_info1, .ft_info2 {flex:1.5; text-align:left; font-size:15px; color:#9d9d9d; margin:40px;}
footer .inner .ft_img {flex:1;}
footer .inner ul li {margin:15px 0;}
footer .inner ul li span {color:#e5e5e5; font-size:15px;}

footer .ft_bottom {color:#fff; max-width: 1300px; width:100%; height:100%; overflow: hidden; margin:0 auto;}
footer .ft_bottom .icons {display:flex; float:left; padding:14px 0;}
footer .ft_bottom .icons span, a {display:block; flex:1;}
footer .ft_bottom .icons span {flex:2.5; line-height:4.5; font-size:14px; color:#9d9d9d;}
footer .ft_bottom .icons a {margin:0 13px;}
footer .ft_bottom .ft_resv {float:right; padding:22px 0;}
footer .ft_bottom .ft_resv span {display:inline-block; color:#9d9d9d; font-size:14px; margin-right:10px;}
footer .ft_bottom .ft_resv a {display:inline-block; font-size:15px; color:#fff; padding:15px 30px; border:1px solid #9d9d9d;}

footer .ft_bottom .icons a:hover {filter:drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));}
footer .ft_bottom .ft_resv a:hover {filter:drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5))}

footer .ft_bottom .copyright { margin-top: 20px; font-size: 13px; width:fit-content; line-height:3.5; text-align: center; margin:0 auto;}
footer .ft_bottom .copyright a { color: #fff; font-family: FuturaStd; }
footer .ft_bottom .copyright a:hover { text-decoration: underline;}

header a,footer a 						    {display:block;} 



/*------------------------------------------------------------------------------------------------*/
/* Index */
#index .section {margin-top:5.5%;}
#index .section:first-child {padding-top:0; margin-top:0;}
#index .offers {background-color:#f1f1f1; margin-top:0; padding-top:5.5%; padding-bottom:5.5%;}
#index .offers h3 {display:block; max-width:1300px; margin:0 auto; color:#333;}
#index .offers h3 strong {display:inline-block; text-align:left; font-weight:bold; font-size:30px; margin-right:20px;}
#index .offers h3 span {display:inline-block; text-align:left; font-size:17px;}

#index .offers ul {width:100%; overflow: hidden; height:100%; max-width:1300px; margin:30px auto; display:flex;}
#index .offers ul li {flex:1; margin:0 2.5%}
#index .offers ul li .txt {text-align:center;}
#index .offers ul li .txt strong {display: block; font-weight:bold; font-size:17px; color:#333; margin:30px 0 20px; line-height:1.5;}
#index .offers ul li .txt span {display: block; font-size:15px; line-height:1.75;}
#index .offers ul li .txt a {display:block; background:none; width:fit-content; text-align:center; font-size:16px; margin:30px auto 0;}
#index .offers > div {max-width:1300px;min-width:800px;margin:30px auto 0;} 

#index .offers .InBox {position:relative;margin-bottom:10%;}
#index .offers .InBox .swiper {width:100%;overflow:hidden;}

/* #index .offers .InBox .swiper a {display:block;}
#index .offers .InBox .swiper a .img {max-width:600px;}
#index .offers .InBox .swiper a .txt {width:95%;margin:0 auto;text-align:center;line-height:1.5;}
#index .offers .InBox .swiper a .txt strong {display:block;font-size:1.1vw;font-weight:bold;margin:5% 0 3%;}
#index .offers .InBox .swiper a .txt strong b {font-weight:bold;}
#index .offers .InBox .swiper a .txt strong b.b01 {color:#007488;}
#index .offers .InBox .swiper a .txt strong b.b02 {color:#a58f65;}
#index .offers .InBox .swiper a .txt span {font-size:0.9vw;display:block;color:#838383;}
#index .offers .InBox .swiper a .txt em {display:block;font-size:0.8vw;font-weight:bold;margin-top:5%;} */

#index .list {margin-top:0;}
#index .list::after {content:""; position: absolute; left:0; top:0; width:100%; height:100%; background-color:#000; opacity:0.5;}
#index .list h3 {position: absolute; top:250px; left:7%; transform:translateX(-7%); z-index:50; font-size:50px; color:#fff;}
#index .list .img {position:relative;width:100%;height:100%;}
#index .list .img div {position:absolute;top:0;left:0;width:100%;height:100%;overflow:hidden;opacity:0;}
#index .list .img div:before {position:absolute;left:0;top:0;width:100%;height:100%;content:"";background:#000;opacity:0.3;}
#index .list ul {position:absolute;width:100%;height:100%;overflow:hidden;z-index:2;}
#index .list ul li {position:relative;float:left;width:25%;height:100%;}
#index .list ul li > div {position:absolute;top:50%;left:10%; transform:translateX(10%); width:100%;height:100%;margin-top:-100px;text-align:left;display:block;overflow:hidden;}
#index .list ul li div strong {font-size:25px;font-family:linotype-didot;display:block;color:#fff;margin-top:50px;transition: 0.5s;}
#index .list ul li div div {width:80px;height:1px;background:#fff; opacity:0.5; width:300px;}
#index .list ul li div span {font-size:15px;line-height:1.8;display:block;color:#fff;opacity:0;transition: 0.5s;}
#index .list ul li div span b {display:block; margin:50px 0 25px;}
#index .list ul li div span a {display:block; color:#fff; width:fit-content; font-size:14px; border:1px solid #fff; padding:5px 25px; margin-top:25px;}

#index .list ul li div:hover strong {font-size:25px; margin:15px 0;}
#index .list ul li div:hover div {opacity:1;}
#index .list ul li div:hover span {opacity:1;}

#index .list .img .i01	{background:url(http://gonylab4.speedgabia.com/suiteians/main/1.jpg) no-repeat 50% 50%;background-size:cover;}
#index .list .img .i02	{background:url(http://gonylab4.speedgabia.com/suiteians/main/2.jpg) no-repeat 50% 50%;background-size:cover;}
#index .list .img .i03	{background:url(http://gonylab4.speedgabia.com/suiteians/main/3.jpg) no-repeat 50% 50%;background-size:cover;}
#index .list .img .i04	{background:url(http://gonylab4.speedgabia.com/suiteians/main/4.jpg) no-repeat 50% 50%;background-size:cover;}

#index .restaurant {position:relative;width:100%;height:100%;overflow:hidden;min-width:860px;min-height:483px;}
#index .restaurant h3 {display: block; text-align: center;}
#index .restaurant h3 strong {display: block; font-size:50px;}
#index .restaurant h3 span {display: block; font-size:17px; margin:25px 0 40px;}
#index .restaurant .swiper-view {max-width:1400px; margin:0 auto;}
#index .restaurant .swiper-view .InBox {height:80vh;}
#index .restaurant .swiper-container .swiper-wrapper .swiper-slide {transform: scale(0.9); transition: all 0.5s}
#index .restaurant .swiper-container .swiper-wrapper .swiper-slide-active {transform: scale(1); transition: all 0.5s}
#index .restaurant .swiper-container .plays {position:absolute;top:0;right:56px;height:50px;display:block; background-color: #000; z-index:50;}
#index .restaurant .swiper-container .swiper-pagination {width:fit-content; left:50%;}
#index .restaurant .swiper-container .swiper-pagination .swiper-pagination-bullet {width:13px; height:13px; background-color:#fff; border-radius:10px; margin:0 3px;}
#index .restaurant .swiper-container .swiper-pagination .swiper-pagination-bullet-active {background-color:transparent; border:1px solid #fff; margin-bottom:-1px;} 
#index .restaurant .swiper-container .title {position: absolute; top:50%; transform:translateY(-50%); width:auto; height:auto; right:50px;}
#index .restaurant .swiper-container .title span {display:block; font-size:17px; color:#fff; text-align: center; line-height:1.75;}
#index .restaurant .swiper-container .title a {display:block; color:#fff; border:1px solid #fff; font-size:14px; margin:30px auto 0; padding:10px 18px; width:fit-content;}

#index .video {padding:6.5% 0; position: relative;}
#index .video::after {position: absolute; background:url(http://gonylab4.speedgabia.com/suiteians/main/8.jpg) no-repeat 50% 50%; background-size:cover; filter:blur(5px);}
#index .video::after {content:""; top:0; left:0; width:100%; height:100%; z-index:1;}
#index .video .bg {position:absolute; width:100%; height:100%; top:0; left:0; background-color:#000; opacity:0.5; z-index:2;}
#index .video .ttl {width:100%; color:#fff; position: absolute; top:120px; left:50%; transform:translateX(-50%); z-index: 3;} 
#index .video .ttl h3 {font-size:50px;text-align:center;}
#index .video .ttl h3 strong {font-family:linotype-didot, serif;display:block;}
#index .video .ttl h3 span {display:block;font-size:19px;padding:30px 0;}
#index .video #iframe {max-width:1400px;min-width:1000px;margin:0 auto;display:block; position: absolute; top:250px; left:50%; transform:translateX(-50%); z-index:3;}


/*------------------------------------------------------------------------------------------------*/
/* Video */
#video #contents {padding:5% 0;}
#video #contents div {width:97%;margin:0 auto;}
#video #contents div iframe {width:100%;}


/*------------------------------------------------------------------------------------------------*/
/* Location */
#location #contents {padding-top:3%;}
#location .location h3 {position:relative;text-align:center;right:0;padding-bottom:3%;width:100%;height:30px;z-index:1;}
#location .location h3 strong {display: block; font-size:30px;font-family:athelas,serif; }
#location .location {max-width:1200px;min-width:860px;padding-bottom:3%;margin:0 auto;overflow:hidden;}
#location .location > div {width:90%;margin:0 auto; }
#location .location .txt {margin-top:40px; border-top:1px solid #333; padding:40px;}
#location .location .txt p em {display:inline-block; font-size:16px; width:130px; font-weight:bold;}
#location .location .txt > span {font-size:15px;line-height:1.5;padding:7% 0 10%;display:block;}
#location .location .txt p {margin-bottom:3%;}
#location .location .txt p strong {display:block;font-size:16px;color:#afafaf;margin-bottom:3px;}
#location .location .txt p span {display:inline-block;line-height:1.7;font-size:16px;color:#101010;}
#location .location .metro { border-top:1px solid #dadada; border-bottom:1px solid #dadada; padding:40px;}
#location .location .metro em {display:inline-block; font-size:16px; width:130px; font-weight:bold;}

#location .travel {max-width:1400px;min-width:860px;padding:7.5% 0;margin:0 auto;overflow:hidden;border-top:1px solid #e8e8e8;}
#location .travel h4 {text-align:center;margin-bottom:5%;line-height:1.5;}
#location .travel h4 strong {display:block;font-size:17px;}
#location .travel h4 span {display:block;font-family:athelas,serif;font-size:50px;}

#location .travel ul {overflow:hidden;}
#location .travel ul li {width:50%;margin:0 0 7.5%;min-height:450px;float:left;text-align:center;}
#location .travel ul li img {width:90%;margin:0 auto 5%;display:block;}
#location .travel ul li strong {display:block;font-size:1.7vw;}
#location .travel ul li em {display:block;padding:2% 0 2.5%;font-size:0.9vw;}
#location .travel ul li span {display:block;font-size:0.8vw;line-height:1.5;width:95%;margin:0 auto;}



/*------------------------------------------------------------------------------------------------*/
/* Detail */
.detail #banner {height:800px;min-height:562px;overflow:hidden;}	
.detail #banner:before {position:absolute;top:0;left:0;width:100%;height:100%;opacity:0.2;background:#000;content:"";}
.detail .section:first-child h2 {position:absolute;top:50%;left:50%;margin:-100px 0 0 -400px;z-index:1;}

.detail #contents {background:#fff;}
.detail #contents > .txt {max-width:1400px;min-width:950px;padding:7.5% 25px;margin:0 auto;color:#a6aba1;border-bottom:1px solid #e8e8e8;}
.detail #contents > .txt span {display:block;font-size:30px;font-family:athelas,serif;margin-bottom:2%; text-align: center;}
.detail #contents > .txt p {line-height:200%;font-size:15px; text-align: center; color:#333;}

.detail #contents > .InnerBox {width:100%;}
.detail #contents > .InnerBox .slides {padding:5.5% 0 7.5%;}
.detail #contents > .InnerBox .slides .info {max-width:1300px;min-width:950px;padding:0 25px 2.5%;margin:0 auto;overflow:hidden;}
.detail #contents > .InnerBox .slides .info > h3 {width:fit-content; margin:60px auto;}
.detail #contents > .InnerBox .slides .info > h3 span {color:#bec2ba;display:inline-block;font-size:20px;}
.detail #contents > .InnerBox .slides .info > h3 strong {color:#70756b;display:inline-block;font: size 20px;font-weight:bold; margin-right:12px;}

.detail #contents > .InnerBox .slides .info div {display:flex; height:100%; overflow: hidden; margin-top:50px; padding:25px 0; border-top:1px solid #565656; border-bottom:1px solid #ddd;}
.detail #contents > .InnerBox .slides .info div b {display:block; float: left; width:130px; font-size:17px; font-weight:500;}
.detail #contents > .InnerBox .slides .info div ul {flex:1; height:100%; overflow: hidden;}
.detail #contents > .InnerBox .slides .info div ul li {margin-bottom:3.5%;line-height:1.5;overflow:hidden; font-size:15px;}
.detail #contents > .InnerBox .slides .info div ul li strong {display:block;height:10px;float:left;margin-right:20px;color:#afafaf;}
.detail #contents > .InnerBox .slides .info div ul li span {display:block;float:left;font-weight:bold;}

.detail #contents > .InnerBox .eq .txt strong {font-size:25px;color:#333;display:block;margin-bottom:2%;}
.detail #contents > .InnerBox .eq {max-width:1400px;min-width:900px;padding:5% 50px;border-top:1px solid #e8e8e8;margin:0 auto;overflow:hidden;}
.detail #contents > .InnerBox .eq .txt {float:left;width:50%; margin-left:2.5%;}
.detail #contents > .InnerBox .eq .txt > div.t01 {padding-top:5%;}
.detail #contents > .InnerBox .eq .txt > div.t01 li {font-size:16px;line-height:1.3;margin-bottom:2%;color:#060606;}
.detail #contents > .InnerBox .eq .txt > div.t02 {padding-top:3%;}
.detail #contents > .InnerBox .eq .txt > div.t02 ul {overflow:hidden;width:100%;line-height:1.8;}
.detail #contents > .InnerBox .eq .txt > div.t02 ul li {font-size:15px;color:#181818;float:left;}
.detail #contents > .InnerBox .eq .txt > div.t02 ul li {padding:0 0 0 20px;background:url(../images/blt.gif) no-repeat left 10px;}
.detail #contents > .InnerBox .eq .txt > div.t02 ul li {width:calc(33.33% - 20px);}
.detail #contents > .InnerBox .eq .txt > div.t02 ul {margin-bottom:35px;}
.detail #contents > .InnerBox .eq .txt > div.t02 p {color:#a58f65;}

.detail #contents > .InnerBox .eq .img {float:left;width:47.5%;}



/*------------------------------------------------------------------------------------------------*/
/* Facility preview */
#fpv .special {padding:5% 0;}
#fpv .special > div {margin-bottom:3%;height:100%;overflow:hidden;}
#fpv .special > div > div {position:relative;height:100%;float:left;overflow:hidden;transition:0.7s ease-in-out;opacity:0;}
#fpv .special > div > div.txt {width:30%;}
#fpv .special > div > div.txt > div {max-width:300px;min-width:200px;max-height:300px;min-height:200px;margin:calc(50% - 50px) auto 0;}
#fpv .special > div > div.txt > div h3 {font-family:athelas,serif;font-size:30px;font-weight:bold;letter-spacing:-0.5px;}
#fpv .special > div > div.txt > div p {font-size:0.9vw;line-height:1.5;padding:8.5% 0;width:100%;}

#fpv .special > div > div.img {width:70%;}
#fpv .special > div > div.img img {display:block;transform: scale(1);transition:0.5s;}


/*------------------------------------------------------------------------------------------------*/
/* Special */
.special #banner {height:95vh;min-height:562px;overflow:hidden;}	
.special #banner:before {position:absolute;top:0;left:0;width:100%;height:100%;opacity:0.2;background:#000;content:"";}
.special .section:first-child h2 {position:absolute;top:50%;left:50%;margin:-100px 0 0 -400px;z-index:1;}

.special #contents {background:#fff;}
.special #contents > .txt {max-width:1400px;min-width:950px;padding:7.5% 25px;margin:0 auto;color:#a6aba1;}
.special #contents > .txt span {display:block;font-size:20px;font-family:athelas,serif;margin-bottom:2%; text-align: center; color:#000;}
.special #contents > .txt p {line-height:200%;font-size:16; text-align: center; color:#333;}

.special #contents > .InnerBox {width:100%;}
.special #contents > .InnerBox .slides {padding:0;}
.special #contents > .InnerBox .slides .info {max-width:1400px;min-width:900px;padding:7.5% 25px 10%;margin:0 auto;overflow:hidden;}
.special #contents > .InnerBox .slides .info > strong {display:block;font-size:18px;color:#c4c4c4;margin-bottom:2%;}
.special #contents > .InnerBox .slides .info > p {line-height:1.5;font-size:17px;}
.special #contents > .InnerBox .slides .img {position:relative;height:95vh;min-height:562px;overflow:hidden;}	
.special #contents > .InnerBox .slides .img:before {position:absolute;top:0;left:0;width:100%;height:100%;opacity:0.3;background:#000;content:"";}
.special #contents > .InnerBox .slides .img .txt {position:absolute;top:50%;z-index:2;}
.special #contents > .InnerBox .slides .img .txt p {color:#fff;line-height:1.5;margin-top:5%;}

#facility #contents > .InnerBox .slides .img .txt {right:5%;text-align:right;}
#food #contents > .InnerBox .slides .img .txt {left:5%;text-align:left;}

#food .restaurant {height:80vh;min-height:500px;}
#food .restaurant ul {height:100%;overflow:hidden;}
#food .restaurant ul li {width:calc(25% - 1px);float:left;height:100%;margin:0 0.5px;}
#food .restaurant ul li a {position:relative;display:block;width:100%;height:100%;overflow:hidden;}
#food .restaurant ul li a div {position:absolute;top:0;left:0;width:100%;height:100%;transform: scale(1);transition:0.5s;}
#food .restaurant ul li a div:before {position:absolute;top:0;left:0;width:100%;height:100%;content:"";opacity:0.2;background:#fff;transition:0.5s;}
#food .restaurant ul li a:hover div {transform: scale(1.03);}
#food .restaurant ul li a:hover div:before {opacity:0;}
#food .InnerBox ul:nth-child(2) {display:flex;}
#food .InnerBox ul:nth-child(2) li {flex:1;}


#food #contents > .InnerBox .slides .info {max-width:1300px;margin:0 auto;}
#food #contents > .InnerBox .slides .info > div:first-child {width:100%;float:none;margin:0 0 5%;overflow:hidden;}
#food #contents > .InnerBox .slides .info > div:first-child img {display:block;float:left;width:49%;margin:0 0.5%;}
#food #contents > .InnerBox .slides .info > div {width:90%;margin:0 auto;}
#food #contents > .InnerBox .slides .info > div > strong {display:block;font-size:18px;color:#c4c4c4;margin-bottom:3.5%;padding-left:2%;}
#food #contents > .InnerBox .slides .info > div > span {display:block;font-size:17px;font-weight:bold;margin-bottom:2%;padding-left:2%;}
#food #contents > .InnerBox .slides .info > div > p {line-height:1.5;font-size:16px;margin-bottom:5%;padding-left:2%;}

#food #contents > .InnerBox .slides .info div ul li  a.btn 	{position:relative;width:250px;height:50px;display:block;letter-spacing:1px;background:#58939d;overflow:hidden;}
#food #contents > .InnerBox .slides .info div ul li  a.btn div.back {position:absolute;top:0;left:0;width:100%;height:100%;background:#007488;transition: 0.5s;}
#food #contents > .InnerBox .slides .info div ul li  a.btn div.mask {position:relative;padding-top:20px;}
#food #contents > .InnerBox .slides .info div ul li  a.btn div.mask div {height:15px;overflow:hidden;}
#food #contents > .InnerBox .slides .info div ul li  a.btn div.mask div span	{text-align:center;display:block;color:#fff;font-size:14px;}
#food #contents > .InnerBox .slides .info div ul li  a.btn div.mask div span	{transition:transform 0.5s cubic-bezier(.65,0,.35,1)}
#food #contents > .InnerBox .slides .info div ul li  a.btn:hover div.back {top:100%;}
#food #contents > .InnerBox .slides .info div ul li  a.btn:hover div.mask span {transform: translateY(-100%)}

/*------------------------------------------------------------------------------------------------*/
/* Table */
.section .snb {width:400px;margin:0 auto;padding:35px 0;margin-bottom:3%;overflow:hidden;}
.section .snb li {float:left;width:50%;background:url(../images/pv_b.gif) no-repeat right center;}
.section .snb li:last-child {background:none;}
.section .snb li a {display:block;padding:15px 0;text-align:center;font-size:17px;}
.section .snb li.active a {font-weight:bold;}

.table #contents .InnerBox {max-width:1300px;min-width:800px;padding:3% 0;margin:0 auto;}
.table #contents .thumb {position:relative;max-width:1300px;min-width:800px;margin:0 auto;}
.table #contents .thumb h3 {width:98%;margin:0 auto;font-size:35px;}
.table #contents .thumb h3 strong {display:block;}
.table #contents .thumb h3 span {display:block;font-size:15px;padding:15px 0;}
.table #contents .thumb iframe {display:block;margin-top:10px;padding-top:10px;border-top:1px solid #000;}

#offers #contents .bd_menu {position:relative;max-width:1300px;min-width:800px;margin:0 auto;}
#offers #contents .stb {position:absolute;top:120px;left:15px;overflow:hidden;z-index:100;}
#offers #contents .stb li {float:left;margin:0 5px;border:1px solid #e8e8e8;}
#offers #contents .stb li:last-child {background:none;}
#offers #contents .stb li a {display:block;padding:12.5px 15px;width:100px;text-align:center;font-size:15px;}
#offers #contents .stb li.active a {color:#fff;background:#a58f65;}
#offers #contents .thumb iframe {padding-top:100px;}


/* Reserve */
#reserve .tab_02 {display:none;}
#reserve .tab_02 h2 {width:250px;margin:0 auto;padding:0px 0 35px;}
#reserve .tab_02 table {width:100%;border:1px solid #e7e7e7;font-family:'돋움',Dotum!important;}
#reserve .tab_02 table tr th {border-right:1px solid #e7e7e7;border-bottom:1px solid #e7e7e7;}
#reserve .tab_02 table tr th,#reserve .tab_02 table tr td {border-right:1px solid #e7e7e7;border-bottom:1px solid #e7e7e7;text-align:center;font-size:13px;color:#676767;}
#reserve .tab_02 > div > h3 {margin-bottom:10px;}
#reserve .tab_02 ul li {padding-left:10px;font-size:12px;line-height:1.6em;color:#676767;font-family:'돋움',Dotum!important;}
#reserve .tab_02 ul li {background:url(http://gonylab2.speedgabia.com/common/li_b.gif) no-repeat left 3px;}
#reserve .tab_02 ul li span {color:#ee3939;}
#reserve .tab_02 .r_info_01 {position:relative;margin-bottom:30px;}
#reserve .tab_02 .r_info_01 h4 {text-align:left;margin-bottom:10px;margin-left:1%;}
#reserve .tab_02 .r_info_01 p{font-size:12px;margin-bottom:7px;vertical-align:center;color:#676767;font-family:'돋움',Dotum!important;background:url(http://gonylab2.speedgabia.com/common/li_b.gif) no-repeat left center;padding-left:10px;}
#reserve .tab_02 .r_info_01 table {margin-bottom:20px;}
#reserve .tab_02 .r_info_01 table .room_ {background:#efefef;height:50px;}
#reserve .tab_02 .r_info_01 table > thead {line-height:1.1em;}
#reserve .tab_02 .r_info_01 table > thead {background:#f8f8f8;}
#reserve .tab_02 .r_info_01 table > thead tr th {font-weight:bold;}
#reserve .tab_02 .r_info_01 table > tbody tr td {line-height:3em;}
#reserve .tab_02 .r_info_02 {margin:50px 0;padding-top:50px;text-align:left;} 
#reserve .tab_02 .r_info_03 {text-align:left;}
#reserve .tab_02 .r_info_03 .CNCL_COMM {margin-bottom:50px;}
#reserve .tab_02 .r_info_03 table {line-height:1.5em;margin-top:20px;}
#reserve .tab_02 .r_info_03 table > thead {background:#f2f2f2;}

/* ------------------------------------------------------------------------------------------------------- */
/* index3.php */
#index3 { background-color: #eeeeee; } 
#index3 section { opacity: 0; } 
#index3 header { opacity: 0; } 
/* #index3 header #side { display: none; } */
#index3 .section { padding-top:7.5%; margin: 0 auto; } 

#index3 .intro { position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 2000; background: url(../images/intro.jpg) no-repeat center center; background-size: cover; } 

#index3 .Swipers { max-width:100%!important; height: 100vh; overflow:hidden; padding-top: 0; } 
#index3 .Swipers .swiper { width: 100%; height: 100%; } 
#index3 .Swipers .swiper-view { max-width:1400px; margin:0 auto; } 
#index3 .Swipers .swiper-container { height:100%; overflow:hidden; } 
#index3 .Swipers .swiper-slide>a { display: block; width:100%; height:100%; background-position:50% 50%; background-repeat:no-repeat; background-size:cover; } 
#index3 .Swipers .swiper-btn { position:absolute; width:60px; height:90px; z-index:10; cursor:pointer; color:#fff; font-size:24px; padding: 3px; paddingbackground-size: contain; background-repeat: no-repeat; background-position: center center; } 
#index3 .Swipers .swiper-btn.swiper-button-prev { left:80px; background-image: url(../images/prev_btn.png); } 
#index3 .Swipers .swiper-btn.swiper-button-next { right:80px; background-image: url(../images/next_btn.png); } 
#index3 .Swipers .swiper-pagination { width: 100%; bottom:3.5%; left:0; z-index:3; } 
#index3 .Swipers .swiper-pagination-bullet { display:inline-block; width:12px; height:12px; background-color:#333; border-radius:50%; } 
#index3 .Swipers .swiper-pagination-bullet-active { background-color:#fff; } 
#index3 .Swipers .swiper-btn:hover { opacity:1; } 
#index3 .Swipers .link_event { position: absolute; bottom: 50px; right: 100px; border: 1px solid #fff; padding: 10px 30px; color: #fff; z-index: 100; } 

#index3 .video { padding:0; } 
#index3 .video h2 { position:absolute; top:50%; left:50%; margin:-50px 0 0 -300px; z-index:10; } 

#index3 .text { text-align: center; padding: 100px 0; } 
#index3 .text1 img { width: 860px;} 
#index3 .text2 img { width: 860px;} 
#index3 .text3 img { width: 828px;} 

#index3 .details { max-width: 1920px; min-width: 1000px; display: flex; padding: 0; } 
#index3 .details .item { position: relative; flex-grow: 1; cursor: pointer; overflow: hidden; } 
#index3 .details .item:nth-child(2) { margin-top: 200px; } 
#index3 .details .item .photo { position: absolute; width: 100%; height: 100%; top: 0; left: 0; transition: 0.7s; } 
#index3 .details .item .photo::before { content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); transition: 0.5s; opacity: 1; } 
#index3 .details .item:nth-child(1) .photo { background: url(http://gonylab4.speedgabia.com/suiteians/room/1/1/2.jpg) no-repeat center center; background-size: cover; } 
#index3 .details .item:nth-child(2) .photo { background: url(http://gonylab4.speedgabia.com/suiteians/main/sp/2.jpg) no-repeat center center; background-size: cover; } 
#index3 .details .item .heading { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center; opacity: 1; transition: 0.5s; } 
#index3 .details .item .heading h1 { color: #fff; font-size: 40px; margin-bottom: 25px; letter-spacing: 2px; } 
#index3 .details .item .heading p { color: #fff; font-size: 20px; } 
#index3 .details .item:hover .photo { transform: scale(1.03); } 
#index3 .details .item:hover .photo::before { opacity: 0; } 
#index3 .details .item:hover .heading { opacity: 0; } 

#index3 .facility { max-width: 1920px; min-width: 1000px; display: flex; padding: 0; padding-bottom: 10px; } 
#index3 .facility .item { position: relative; flex-grow: 1; cursor: pointer; height: 890px; overflow: hidden; margin-right: 10px; } 
#index3 .facility .item:last-child { margin-right: 0; } 
#index3 .facility .item .photo { position: absolute; width: 100%; height: 100%; top: 0; left: 0; transition: 0.7s; } 
#index3 .facility .item .photo::before { content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); transition: 0.5s; opacity: 1; } 
#index3 .facility .item:nth-child(1) .photo { background: url(http://gonylab4.speedgabia.com/suiteians/location/5.jpg) no-repeat center center; background-size: cover; background-position-x: -300px; } 
#index3 .facility .item:nth-child(2) .photo { background: url(http://gonylab4.speedgabia.com/suiteians/food/1.jpg) no-repeat center center; background-size: cover; background-position-x: -250px; } 
#index3 .facility .item:nth-child(3) .photo { background: url(http://gonylab4.speedgabia.com/suiteians/m/facility/3/1.jpg) no-repeat center center; background-size: cover; } 
#index3 .facility .item .heading { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center; opacity: 1; transition: 0.5s; } 
#index3 .facility .item h1 { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: #fff; font-size: 40px; margin-bottom: 25px; text-align: center; line-height: 1.4em; opacity: 1; transition: 0.5s; letter-spacing: 2px; } 
#index3 .facility .item:hover .photo { transform: scale(1.03); } 
#index3 .facility .item:hover .photo::before { opacity: 0; } 
#index3 .facility .item:hover h1 { opacity: 0; } 